.Comments{
margin-left: 20px;
}
.Comment{
    width: 20vw;
    border: 1px solid ghostwhite;
    border-radius: 5px;
    box-shadow: 5px 5px 5px springgreen;
    padding: 10px;
}
.box{
    width: 70vw;
    justify-content: flex-start;
    column-gap: 2vw;
    row-gap: 2vh;
    display: flex;
    flex-wrap: wrap;
}